body{
    font-family: 'Lora', serif;
}
.text_color{
color: white;

}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border: none;
}
.sec {
    position: relative;
    background-color: black;
    height: 125vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  video {
    position: absolute;
    top: 100%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .sec .container {
    position: relative;
    left:0;
    top: 35vh;
    z-index: 1;
    height: auto;
    font-size: 3vh;
  }

   .overlay {
    position: absolute;
    top:35vh;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
  }
  @media (pointer: coarse) and (hover: none) {
    .sec video {
      position: absolute;
      top: 20%;
      min-width: 100%;
    }
    .sec .container {
      position: relative;
      top: 0;
      font-size:2.5vh;
        }
    .overlay {
      position: absolute;
      top: 0;
      left: 0px;
      min-height: 100%;
      min-width: 100%;
      background-color: black;
      opacity: 0.3;
      z-index: 1;
    }
  }